{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row justify-content-between mt-5">
            <div class="col-lg-6 col-md-6">
                <div class="bg-light rounded p-5">
                    <p class="d-inline-block border rounded-pill py-1 px-4"> <i class="fa fa-id-card" aria-hidden="true"></i> Crear Usuario</p>
                    <h4 class="mb-2">Ingresa tus datos</h4>
                    <br>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if error_message %}
                        <div class="alert alert-danger">
                            {{ error_message }}
                        </div>
                        {% endif %}
                        <div class="mb-2">
                            <label for="username" class="form-label">Nombre Usuario</label>
                            <input type="text" name="username" class="form-control" id="username">
                        </div>
                        
                        <div class="mb-2">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="email">
                        </div>
                        
                        <div class="mb-2">
                            <label for="first_name" class="form-label">Nombre</label>
                            <input type="text" name="first_name" class="form-control" id="first_name">
                        </div>
                        
                        <div class="mb-2">
                            <label for="last_name" class="form-label">Apellido</label>
                            <input type="text" name="last_name" class="form-control" id="last_name">
                        </div>
                        
                        <div class="mb-2">
                            <label for="password1" class="form-label">Contraseña</label>
                            <input type="password" name="password1" class="form-control" id="password1">
                        </div>
                        
                        <div class="mb-2">
                            <label for="password2" class="form-label">Repetir Contraseña</label>
                            <input type="password" name="password2" class="form-control" id="password2">
                        </div>
                        
                        <div class="mb-2">
                            <label for="user_type" class="form-label">Tipo de Usuario</label>
                            <select name="user_type" class="form-control" id="user_type">
                                <option value="" selected disabled>Selecciona el tipo de usuario</option>
                                <option value="V">Voluntario</option>
                                <option value="R">Representante</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="preferred_language" class="form-label">Idioma Preferido</label>
                            <select name="preferred_language" class="form-select" id="preferred_language">
                                <option value="" selected disabled>Selecciona tu idioma preferido</option>
                                <option value="es">Español</option>
                                <option value="en">Inglés</option>
                                <option value="fr">Francés</option>
                                <option value="it">Italiano</option>
                                <option value="ru">Ruso</option>
                            </select>
                        </div>
                        
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-user-plus"></i> Crear Usuario
                            </button>
                            <br>
                            <a href="{% url 'login' %}" class="btn btn-outline-primary mt-2">
                                <i class="bi bi-house-door"></i> Inicio
                            </a>
                                                       
                        </div>
                    </form>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <img src="{% static 'img/bosque.jpg' %}" alt="Imagen de perfil" width="98%" height="auto">
            </div>
        </div>
    </div>
    {% endblock %}
</html>