{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'img/logo.jpg' %}">

    <title>Kindly - Org</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-3 px-lg-5 text-start">
                <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center py-2 me-3">
                    <img src="{% static 'img/Kindly.png' %}" alt="Tu Logotipo" class="me-3" width="60" height="60">
                    <h4 class="m-0 text-primary">Kindly</h4>
                </a>
            </div>
            <div class="col-lg-5 px-3 px-lg-5 text-end">
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm rounded-circle bg-white text-primary me-1" href="https://www.facebook.com/profile.php?id=61551995153297&mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm rounded-circle bg-white text-primary me-1" href="https://twitter.com/ComunidadKindly" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm rounded-circle bg-white text-primary me-0" href="https://instagram.com/comunidadkindly?igshid=MWZjMTM2ODFkZg==" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% if user.extendeddata.user_type == 'V' %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 wow fadeIn float-end" data-wow-delay="0.5s">
                    <a href="{% url 'profile' user_id=user.id %}" class="btn btn-outline-primary btn-sm rounded-pill py-1 px-4"><i class="fa fa-user" aria-hidden="true"></i> Mi perfil</a>
                </div>
                <br>
                <br>
                {% if interesados_usuario %}
                    <ul class="list-group">
                        {% for interesado_usuario in interesados_usuario %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>Nombre:</strong> {{ interesado_usuario.organizacion.organization_name }}
                                    </div>
                                    <div class="col-md-4">
                                        <strong>Correo:</strong> {{ interesado_usuario.organizacion.organization_mail }}
                                    </div>
                                    <div class="col-md-2">
                                        <form method="post" action="">
                                            {% csrf_token %}
                                            <input type="hidden" name="organizacion_id" value="{{ interesado_usuario.organizacion.id }}">
                                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No estás interesado en ninguna organización.</p>
                {% endif %}
            </div>
            <br>
        </div>
    {% endif %}

    {% if user.extendeddata.user_type == 'R' %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2 class="mb-4">Voluntarios interesados en Tu Organización: {{ organization.organization_name }}</h2>
                    {% if interesados_organizacion %}
                        <ul class="list-group">
                            {% for interesado_organizacion in interesados_organizacion %}
                                <li class="list-group-item">
                                    <strong>Nombre y Correo:</strong> {{ interesado_organizacion.user.username }} ({{ interesado_organizacion.user.email }})
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No hay voluntarios interesados en tu organización.</p>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="container text-center mt-4 wow fadeInUp" data-wow-delay="0.1s">
            <a href="{% url 'org_getdata' organization_id=organization.id %}" class="btn btn-secondary btn-sm">
                <i class="fas fa-arrow-left mr-2"></i> Regresar a {{ organization.organization_name }}
            </a>
        </div>
    {% endif %}
</body>
</html>




