{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="mb-4">Comentarios de la Organización: {{ Organitation.organization_name }}</h2>
                {% if comments %}
                <div class="card">
                    <div class="card-body">
                        <h3>Comentarios</h3>
                        <ul class="list-group list-group-flush">
                            {% for comment in comments %}
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <!-- Muestra el comentario traducido aquí -->
                                        {{ comment.text }}
                                    </div>
                                    <div class="text-muted">
                                        {{ comment.user.username }}, {{ comment.created_date|date:"F d, Y H:i" }}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% else %}
                <p class="mt-4">No hay comentarios aún.</p>
                {% endif %}
                <div class="mt-4">
                    <div class="text-center">
                        <a href="{% url 'org_getdata' organization_id=organization.id %}" class="btn btn-secondary mt-3">Regresar a {{ organization.organization_name }}</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {% endblock %}
</html>