<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sams Club Portal | Password Recovery</title>
    </head>
    <body>
        <h1 style="font-size: 20px; font-family: sans-serif; color:navy;">Cambiar contraseña</h1>
        <h2 style="font-size: 15px; font-family: sans-serif; color:black;">Pon tus datos para actualizar contraseña</h2>
        
        {% if validlink %}

        <h1>Nueva contraseña</h1>

        <form method="post">
            {% csrf_token %}

            <label for="id new password1">Nueva contraseña:</label> {{ form.new_password1}}
            <label for="id new password2">Confirme contraseña:</label>{{ form.new_password2 }}
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
            <input type="submit" value="Cambiar mi Contrasena"/>
        </form>
        {% else %}
        <h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
        {% endif %}
    </body>
</html>
